<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="con" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MSU_AcademicDB.mdf;Integrated Security=True;Connect Timeout=30" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="4096" />
    <sessionState mode="InProc" timeout="30" />
    <authentication mode="Forms">
      <forms loginUrl="LoginPage.aspx" defaultUrl="StudentArea.aspx" timeout="30" />
    </authentication>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="IndexPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
